* {
    font-family: poppins;
    font-weight: 900;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

body {
    margin: 0;
    padding: 0;
}

/*header*/
.header {
    background-color: black;
    display: flex;
}

.navbar {
    display: flex;
    width: 285px;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.header .container {
    justify-content: space-between;
}

.container img {
    margin-top: 1.5%;
}
.lista {
    display: flex;
    padding: 10px;
    background-color: 0088e5;
    font-weight: 500;
    text-decoration: none;
    color: aliceblue;
}

.navbar a:hover {
    color: brown;
    transition: 0.5s;
}
/*end header*/

/* Começo do cadastro */
.form .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: brown;
    width: 380px;
    height: 500px;
    margin-top: 30px;
    border-radius: 30px;
}
.container span{
    padding: 10px;
}
.container input{
    width: 200px;
    border-radius: 20px;
    border: none;
    padding: 10px;
    text-align: center;
    align-items: center;
}
.container button{
    margin-top: 40px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 50px;
}
.container button:hover{
    transition: 1s;
    background-color:white;
    color: black;
}