*{
    font-family: poppins;
    font-weight: 900;
}
.container{
    display: flex;
    width: 80%;
    margin:auto;
}

body{
    margin: 0;
    padding: 0; 
}

/*header*/
.header{
     background-color: black;
     display: flex;
     }
 .navbar{
     display: flex;
     width: 400px;
     align-items: center;
     justify-content: space-between;
     height: 50px;
 }
 .header .container{
     justify-content: space-between;
 }
 .container img{
     margin-top:1.5%;
 }
 .header .container .fa-magnifying-glass{
    margin-right: 5px;
 }
 * input{
    border-radius: 9px;
    height: 25px;
    width: 150px;
 }
 .lista{
     display: flex;
     padding: 20px;
     background-color: 0088e5;
     font-weight: 500;
     text-decoration: none;
     color: aliceblue;
 }
 .navbar i:hover{
    color:brown;
 }
 /*end header*/

 /*Banda*/
 .infoBanda img{
    width: 200px;
    border-radius: 0 20px 0 20px;
}
.infoBanda{
    width: 230px;
    height: 240px;
    background-color:brown;
    border-radius: 20px 0px 20px 0px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textoBanda p{
    color: aliceblue;
    margin-left: 20px;
}
.textoBanda a{
    text-decoration: none;
    color: blueviolet;
}
.pg1{
    background-color: black;
    height: 300px;
}
.pg1 a{
    margin-left: 20px;
}
.pg1 button{
    position: absolute;
    height: 5%;
    margin-top: 15%;
    left: 30%;
    color: black;
    background-color: white;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    width: 10%;
    transition: 0.5s;
    top: 18%;
}
.pg1 button:hover{
    background-color: brown;
}
/* Fim da banda */
/* começo de show */
.container h1{
    align-self: center;
}

.pgShow .container input{
    height: 90px;
    width: 30%;
}
.pgShow .container select{
    height: 30px;
    width: 19%;
}

.pgShow .container button{
    border-radius: 30px;
    background-color: black;
    width: 18%;
    height: 50px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    border: none;
}
.pgShow .container button:hover{
    transition: 0.3s;
    background-color: brown;
    color: black;
}
.container .postagem{
    padding: 10px;
    border: solid black;
    border-radius: 20px;
}
.container .postagem i{
    padding: 5px;
}
.showBanda h1{
    margin-left: 50%;
}
.formOpiniao{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
}
/* fim de show */
/* comeco de show msm */
.container .showBanda #shows{
    padding: 10px;
    border: solid black;
    border-radius: 20px;
    margin-left: 30%;
    width: 200px;
}
#pctAv{
    color: white;
    margin-left: 5%;
}
.container .showBanda{
    display: flex;
    flex-direction: column;
}
/* footer */
.footer{
    margin-top: 7px;
    background-color: black;
    display: flex;
}
.footer .container{
    display: flex;
    justify-content: center;
}
.footer img{
    width: 30%;
}
.footer span{
    color: white;
    align-self: center;
}